*{
    margin:0px;
    padding:0px;
    font-size:14px;
    font-family: "Microsoft YaHei";
}
body {
    font-family: Monospace;
    background: rgba(7, 18, 48, 1);
    margin: 0px;
    overflow: hidden;
}
.echartse{
    width:300px;
    position:absolute;
    top:100px;
    z-index:2;
}
.echartsee{
    width:100%;
    margin-top:20px;
    background:url('../img/echartsbg.png') no-repeat;
    background-size:100% 100%
}
.echartbe{
    width:calc(100% - 20px);
    position:absolute;
    left:10px;
    z-index:2;
}
.echarts_left{
    left:10px;
}
.echarts_right{
    right:10px;  
}
.echarts_bottom{
    bottom:10px;  
}
#left1{
    height:200px;
}
#left2{
    height:400px;
}
#right1{
    height:200px;
}
#right2{
    height:400px
}
#bottom1{
    height:150px
}
#canvas{
    display:none
}
.header{
    width:600px;
    height:60px;
    position:absolute;
    left:50%;
    margin-left:-300px;
    top:0px;
    color:#fff;
    font-size:22px;
    text-align:center;
    line-height:55px;
    font-weight:bold;
}
.leftheader{
    background:url('../img/header3.png') no-repeat;
    background-size:100% 100%;
    width: 100%;
    color: #fff;
    height: 60px;
    line-height: 55px;
    box-shadow: 0px 0px 10px rgb(24,125,193);
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
}
.leftheader p{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.leftheader img{
    width: 30px;
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}
.left1title{
    width:120px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:url('../img/title.png') no-repeat;
    background-size:100% 100%;
    color:#fff; 
}
.left2title{
    width:120px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:url('../img/title.png') no-repeat;
    background-size:100% 100%;
    color:#fff; 
}
.right1title{
    width:120px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:url('../img/title.png') no-repeat;
    background-size:100% 100%;
    color:#fff; 
}
.bottom1title{
    width:120px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:url('../img/title.png') no-repeat;
    background-size:100% 100%;
    color:#fff; 
}
.clickrotate{
    cursor:pointer;
}
